.bg-brand1 { background: #E02020; }
.bg-brand2 { background: #C31E1E; }
.bg-branco { background: #fff; }
.bg-light { background: #f7f7f790 !important;}
.color-star { color: #F7B500 }
.colorblack { color: #000 }
.color-min { color: #4d4d4d; opacity: .8 }
.colorVerde { color: #49751B }
