body {
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d
}

.tit1 {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #4D4D4D;
	text-align: center;
}

.bar-tit1 {
	padding-bottom: 16px;
}

.bar-tit1 .seta {
	background: url(../assets/img/seta-red1.svg) no-repeat center;
    background-size: contain;
    width: 16px;
    height: 14px;
    display: block;
    margin: 14px auto 0 auto;
}

.bar-tit-sacola {
	padding: 0 22px;
}

.bar-tit-center-min { max-width: 80%; margin: 0 auto }


.tit1-min {
	font-size: 18px;
	font-weight: 700;
	color: #4D4D4D;
	text-align: center;
}

.tit2 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #49751B;
	margin-bottom: 20px;
	text-align: center;
}

.tit2left { text-align: left; }

.font-big {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}

.font-semibig {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}

.font-default {
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
}

.font-medium {
	font-size: 13px;
	line-height: 17px;
	font-weight: 500;
}

.font-min {
	font-size: 11.5px;
	line-height: 15.5px;
	font-weight: 700;
}

.strong {font-weight: 700 }
.strongMin {font-weight: 600 }

.fontNowrap { white-space: nowrap; }

.Uper { text-transform: uppercase; }

.riscado { text-decoration: line-through }